# DB
DB__DIALECT=
DB__DRIVER=
DB__USERNAME=
DB__PASSWORD=
DB__HOST=
DB__PORT=
DB__DATABASE=

# CACHE
CACHE__HOST=
CACHE__PORT=
CACHE__DB=

# JWT
JWT__SECRET_KEY=
JWT__ACCESS_TOKEN_EXPIRES=
JWT__REFRESH_TOKEN_EXPIRES=
JWT__ALGORITHM=

# GOOGLE
GOOGLE__CLIENT_ID=
GOOGLE__CLIENT_SECRET=
GOOGLE__REDIRECT_URI=
GOOGLE__TOKEN_URI=
GOOGLE__AUTH_URI=
GOOGLE__CERT_URI=

# YANDEX
YANDEX__CLIENT_ID=
YANDEX__CLIENT_SECRET=
YANDEX__REDIRECT_URI=
YANDEX__AUTH_URI=
YANDEX__TOKEN_URI=
YANDEX__USER_INFO_URI=

# CURRENCY_API
CURRENCY__API_KEY=
CURRENCY__API_URL=